<ion-header>
  <ion-navbar color="danger" class="tituloPlato">
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title align="center" >
    Recomendados
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style" >
<ion-list>
  <ion-card>        
        <ion-item>
          <ion-avatar item-start>
            <img src="/assets/icon/user.png">
          </ion-avatar>
          <h2>{{plato.titulo}}</h2>                 
        </ion-item>  
        <img src="{{plato.imagen}}">         
        <ion-item>
          <ion-label floating>Comentario</ion-label>
          <ion-textarea [(ngModel)]="plato.descripcion" ></ion-textarea>
        </ion-item>    
        <div>
          <button *ngIf= "calificacion1 == false" color="danger" ion-button clear (click)="Calificacion1()" >
          <ion-icon name="star" icon-left></ion-icon>
          </button>
          <button *ngIf= "calificacion1 == true" color="yello" ion-button clear (click)="Calificacion1()">
            <ion-icon name="star" icon-left></ion-icon>
          </button> 
          <button *ngIf= "calificacion2 == false" color="danger" ion-button clear (click)="Calificacion2()" >
            <ion-icon name="star" icon-left></ion-icon>
            </button>
            <button *ngIf= "calificacion2 == true" color="yello" ion-button clear (click)="Calificacion2()">
              <ion-icon name="star" icon-left></ion-icon>
            </button>                 
        </div> 
          <button *ngIf= "plato.estado == 1" color="danger"ion-button block (click)="AddRecomendacion()">
            <ion-icon name="send" icon-left></ion-icon>
            <div>Guardar</div>
        </button>       
      </ion-card>       
          
    </ion-list>
    <!--<ion-fab right bottom>
      <button ion-fab color="danger"><ion-icon name="add"  floating></ion-icon></button>
    </ion-fab>-->

</ion-content>
