<ion-header>
  <ion-navbar color="danger">          
      <ion-title class="titulo" left text-left >
          <button ion-button button-left clear (click)=" goToCarta(this.lista,this.carta)">
             <ion-icon icon-left name="arrow-round-back" color="light" ></ion-icon>
          </button> 
          Recomendaciones
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style">
<ion-list>
  <ion-card>        
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/icon/user.png">
          </ion-avatar>
          <p>{{plato.titulo}}</p>                 
        </ion-item>  
        <img src="{{plato.imagen}}">         
        <ion-item>
          <ion-label floating><p>Comentario<p></ion-label>
            
              <ion-textarea [(ngModel)]="plato.descripcion" ></ion-textarea>
            
          
        </ion-item> 
        <!--   
        <div>
          <button *ngIf= "calificacion1 == false" color="danger" ion-button clear (click)="Calificacion1()" >
          <ion-icon name="star" icon-left></ion-icon>
          </button>
          <button *ngIf= "calificacion1 == true" color="yello" ion-button clear (click)="Calificacion1()">
            <ion-icon name="star" icon-left></ion-icon>
          </button> 
          <button *ngIf= "calificacion2 == false" color="danger" ion-button clear (click)="Calificacion2()" >
            <ion-icon name="star" icon-left></ion-icon>
            </button>
            <button *ngIf= "calificacion2 == true" color="yello" ion-button clear (click)="Calificacion2()">
              <ion-icon name="star" icon-left></ion-icon>
            </button>                 
        </div> 
        <button *ngIf= "plato.estado == 1" color="danger" ion-button button-left block (click)="AddRecomendacion(this.lista,this.carta)">
      -->
          <button color="danger" ion-button block (click)="AddRecomendacion(this.lista,this.carta)">
            <ion-icon ></ion-icon>
            <div>Guardar</div>
        </button>       
      </ion-card>       
          
    </ion-list>
    <!--<ion-fab right bottom>
      <button ion-fab color="danger"><ion-icon name="add"  floating></ion-icon></button>
    </ion-fab>-->

</ion-content>
