<ion-header>
  <ion-navbar color="danger">          
      <ion-title class="titulo" left text-left >
          <button ion-button button-left clear>
             <ion-icon icon-left name="arrow-round-back" color="light" (click)="goToHome(this.lista)"></ion-icon>
          </button> 
          {{carta.title}}
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-style" >  
  <ion-list>
    <ion-card *ngFor="let plato of platos">
      <ion-item >        
        <ion-thumbnail item-start>
          <img src= "{{plato.imagen}}" >
        </ion-thumbnail>                   
          <p>{{plato.titulo}}</p>
          <h5>$ {{plato.precio}}</h5>  
           <p align="right">

          <button ion-button color="danger" align="right"  (click)="Recomendados(plato,carta.title,this.lista,this.carta)">
              <ion-icon name="star"></ion-icon>             
          </button>
                        
          <button *ngIf= "plato.estado==1" ion-button color="danger" align="right" (click)="Mostrar(plato.id)" (click)="Sumar(plato.id,plato.titulo)">
            <ion-icon name="cart"></ion-icon>             
          </button>
          <button *ngIf= "plato.estado==0" ion-button color="dark" (click)="Mostrar(plato.id)" (click)="Restar(plato.id,plato.titulo)">
            <ion-icon name="close"></ion-icon>   
          </button>
          </p>                     
      </ion-item>        
    </ion-card>
  </ion-list>

</ion-content>

<ion-footer class="titulo">      
      <ion-toolbar color="danger" padding>
        <ion-grid>
          <ion-row>
            <ion-col col-3>
                <button ion-button button-left clear (click)="showCheckbox()">
                    <ion-icon icon-left name="list-box" color="light"></ion-icon>             
                </button>
            </ion-col>
            <ion-col col-5>              
            </ion-col>
            <ion-col col-4>
               <ion-input  type="text" right text-right [(ngModel)]="compra" ></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>          
      </ion-toolbar>      
</ion-footer>
